@import url(../places/__article/places__article.css);
@import url(../places/__block/places__block.css);
@import url(../places/__container/places__container.css);
@import url(../places/__description/places__description.css);
@import url(../places/__image/places__image.css);
@import url(../places/__link-container/places__link-container.css);
@import url(../places/__link/places__link.css);
@import url(../places/__picture-box/places__picture-box.css);
@import url(../places/__text/places__text.css);
@import url(../places/__title/places__title.css);
@import url(../places/__title/_kosa/places__title_kosa.css);
@import url(../places/__url/places__url.css);
.places {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    padding-top: 92px;
    width: 100%;
    max-width: 984px;
}

@media (max-width: 1023px) {
    .places {
        padding-top: 102px;
    }
}