@import url(../russian-travel/fonts/inter.css);
@import url(./normalize.css);
html {
    font-size: 16px;
}

.page {
    width: 100%;
    background: #2A2C2F;
    font-family: "Inter", Arial, sans-serif;
    color: #FFFFFF;
    margin: auto;
    box-sizing: border-box;
    max-width: 1440px;
}

.header {
    display: flex;
    padding: 30px 5% 30px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 177px;
    height: 52px;
}

.header__container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 48px;
}

.header__lang {
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin-top: 17px;
    margin-bottom: 12px;
}

.header__link {
    font-family: Inter;
    font-size: 1.5rem;
    line-height: 1.4375rem;
    color: #FFFFFF;
    text-decoration: none;
}

.header__link:hover {
    text-decoration: underline;
}

.header__link:last-of-type {
    margin-left: 18px;
}

.lead {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: auto;
    max-width: 984px;
    width: 984px;
}

.lead__caption {
    align-self: start;
}

.lead__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lead__caption {
    max-width: 636px;
    max-height: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}

.lead__image {
    width: 100%;
    margin: auto;
    border-style: none;
}

.section-title {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-family: Inter;
    font-size: 4.5rem;
    line-height: 4.875rem;
    max-width: 800px;
}

.section-subtitle {
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.1875rem;
    margin-top: 48px;
    max-width: 640px;
}

.lead__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    max-width: 583px;
    margin-top: 48px;
    margin-bottom: 65px;
}

.lead__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    max-width: 782px;
    max-height: 184px;
    min-width: 288px;
}

.intro {
    width: 984px;
    max-width: 984px;
    margin: auto;
    display: flex;
}

.intro__block {
    width: 683px;
    max-width: 683px;
    justify-content: start;
}

.intro__title {
    margin-top: 80px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 59px;
}

.intro__content-row {
    margin-top: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
    max-width: 683px;
}

.intro__text {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding-left: 0;
}

.intro__text-item {
    list-style-type: none;
}

.intro__text-item:last-of-type {
    margin-bottom: 102px;
}

.intro__text-span {
    font-weight: normal;
}

.grid {
    justify-content: center;
    width: 100%;
}

.grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 16px 16px;
    align-self: auto;
    justify-self: auto;
    width: 90%;
    margin-top: 102px;
    box-sizing: border-box;
    margin: auto;
    max-width: 1184px;
}

.grid__item {
    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
    height: 188px;
}

.places {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    display: flex;
    padding-top: 102px;
    width: 984px;
    max-width: 984px;
}

.places__container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.places__description {
    display: flex;
}

.places__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    margin-bottom: 0;
    max-width: 500px;
    margin-top: 0;
    width: 52%;
}

.places__block {
    display: flex;
}

.places__containerimg {}

.places__image {
    max-width: 460px;
    max-height: 460px;
    margin-right: 40px;
    margin-top: 60px;
    padding-bottom: 72px;
    object-fit: cover;
}

.places__text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 60px;
}

.places__article {
    margin-top: 0;
    margin-bottom: 36px;
}

.places__link-container {
    display: flex;
    flex-direction: column-reverse;
}

.places__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-top: 16px;
}

.video__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 72px;
    width: 100%;
}

.video__item {
    position: absolute;
    max-width: 583px;
    left: 30px;
    bottom: 30px;
    z-index: 3;
}

.video__container-description {
    position: relative;
    width: 49%;
    color: #FFFFFF;
}

.video__image {
    width: 100%;
    background-color: #2A2C2F;
    opacity: .5;
    border-radius: 5px;
}

.video__image:hover {
    opacity: .4;
}

.video__title {
    font-size: 2.25rem;
    line-height: 2.4375rem;
    width: 70%;
    text-align: left;
    margin-bottom: 18px;
}

.video__subtitle {
    font-size: 0.875rem;
    line-height: 0.9375rem;
    text-align: left;
    margin: 0;
}

.video__item-play {
    margin-bottom: 94px;
}

.video__item-duration {
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin-bottom: 12px;
    margin-top: 0;
}

.video {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
    width: 1184px;
    max-width: 1184px;
    margin: auto;
    display: flex;
}

.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 102px;
    width: 984px;
    max-width: 984px;
    margin: auto;
}

.comments__block {
    display: flex;
    max-width: 80%;
}

.comments__img {
    width: 97px;
    height: 97px;
    border-radius: 50%;
}

.comments__container {
    width: 30%;
    justify-content: start;
    margin-top: 72px;
    margin-left: 19px;
}

.comments__text {
    margin-left: 20px;
    margin-right: 30px;
}

.comments__text-normal {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-top: 42px;
}

.comments__text-bold {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    margin-top: 24px;
}

.cover__item {}

.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: auto;
    height: 600px;
    background-image: url(./images/cover.jpg);
    background-repeat: no-repeat;
    width: 90%;
    flex-direction: column;
    margin: auto;
}

.cover__image {

}

.cover__title {
    margin-top: 274px;
    max-width: 1094px;
}

.cover__subtitle {
    max-width: 382px;
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.footer {
    display: flex;
    padding: 30px 5% 30px;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    padding-top: 160px;
}
.footer__links {
    font-size: 1.5rem;
    line-height: 2.5625rem;
    width: 55%;
    justify-content: space-between;
    display: flex;
}
.footer__copywright {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@media (max-width: 1279px) {
    .layer-first {
        width: 928px;
    }
}

@media (max-width: 1279px) {
    .intro__block {
        width: 928px;
    }
}

@media (max-width: 1024px) {
    .grid__container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px 14px;
    }
}

@media (max-width: 1023px) {
    .layer-first {
        width: 768px;
    }
}

@media (max-width: 1023px) {
    .intro__block {
        width: 683px;
    }
}

@media (max-width: 768px) {
    .grid__container {
        grid-template-columns: 2fr;
    }
}

@media (max-width: 767px) {
    .layer-first {
        width: 100%;
    }
}

@media (max-width: 767px) {}

@media (max-width: 450px) {
    .grid__container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 374px) {}

@media (max-width: 374px) {}

/*@media (max-width: 320px) {
    .layer-first {
        width: 100%;
    }
}
@media (max-width: 320px) {
    .intro__block {
        width: 288px;
    }
}
*/