@import url(../russian-travel/fonts/inter.css);
@import url(./normalize.css);
html {
    font-size: 16px;
}


@media (max-width: 450px) {
    .grid__container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 374px) {
    .section__width_large {
        padding: 30px 5% 30px;
    }
}