@import url(../russian-travel/fonts/inter.css);
@import url(./normalize.css);
html {
    font-size: 16px;
}

.page {
    width: 100%;
    background: #2A2C2F;
    font-family: "Inter", Arial, sans-serif;
    color: #FFFFFF;
    margin: auto;
    box-sizing: border-box;
    max-width: 1440px;
}

.header {
    display: flex;
    padding: 30px 8.9% 30px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 177px;
    height: 52px;
}

.header__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__lang {
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin-top: 17px;
    margin-bottom: 12px;
}

.header__link {
    font-family: Inter;
    font-size: 1.5rem;
    line-height: 1.4375rem;
    color: #FFFFFF;
    text-decoration: none;
}

.header__link:hover {
    text-decoration: underline;
}

.header__link:last-of-type {
    margin-left: 18px;
}

.lead {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: auto;
    max-width: 984px;
    width: 984px;
}

.lead__caption {
    align-self: start;
}

.lead__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 555px;
}

.lead__caption {
    max-width: 636px;
    max-height: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}

.lead__image {
    width: 100%;
    margin: auto;
    border-style: none;
}

.section-title {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-family: Inter;
    font-size: 4.5rem;
    line-height: 4.875rem;
    max-width: 800px;
}

.section-subtitle {
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.1875rem;
    margin-top: 48px;
    max-width: 640px;
}

.lead__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    max-width: 583px;
    margin-top: 48px;
    margin-bottom: 65px;
    text-align: center;
}

.lead__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    max-width: 782px;
    max-height: 184px;
    min-width: 288px;
    margin-top: 18px;
    text-align: center;
}

.intro {
    width: 984px;
    max-width: 984px;
    margin: auto;
    display: flex;
}

.intro__block {
    width: 683px;
    max-width: 683px;
    justify-content: start;
}

.intro__title {
    margin-top: 101px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 59px;
}

.intro__content-row {
    margin-top: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
    max-width: 683px;
}

.intro__text {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding-left: 0;
}

.intro__text-item {
    list-style-type: none;
}

.intro__text-item:last-of-type {
    margin-bottom: 102px;
}

.intro__text-span {
    font-weight: normal;
}

.grid {
    justify-content: center;
    width: 100%;
}

.grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 16px 16px;
    align-self: auto;
    justify-self: auto;
    width: 95%;
    margin-top: 102px;
    box-sizing: border-box;
    margin: auto;
    max-width: 1184px;
}

.grid__item {
    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
    height: 188px;
}

.places {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    display: flex;
    padding-top: 92px;
    width: 984px;
    max-width: 984px;
}

.places__container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.places__description {
    display: flex;
}

.places__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    margin-bottom: 0;
    max-width: 500px;
    margin-top: 0;
    width: 55%;
}

.places__block {
    display: flex;
}

.places__containerimg {}

.places__image {
    max-width: 460px;
    max-height: 460px;
    margin-right: 40px;
    margin-top: 60px;
    padding-bottom: 72px;
    object-fit: cover;
}

.places__text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 60px;
}

.places__article {
    margin-top: 0;
    margin-bottom: 36px;
}

.places__link-container {
    display: flex;
    flex-direction: column-reverse;
}

.places__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-top: 16px;
}

.video__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 72px;
    width: 100%;
}

.video__item {
    position: absolute;
    max-width: 583px;
    left: 30px;
    bottom: 30px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 80%;
}

.video__container-description {
    position: relative;
    width: 49%;
    color: #FFFFFF;
}

.video__image {
    width: 100%;
    background-color: #2A2C2F;
    opacity: .5;
    border-radius: 5px;
}

.video__item:hover .video__image {
    opacity: .5;
}

.video__image:hover {
    opacity: .4;
}

.video__title {
    font-size: 2.25rem;
    line-height: 2.4375rem;
    width: 70%;
    text-align: left;
    margin-bottom: 18px;
}

.video__subtitle {
    font-size: 0.875rem;
    line-height: 0.9375rem;
    text-align: left;
    margin: 0;
}

.video__item-play {
    object-fit: contain;
    align-self: baseline;
}

.video__item-duration {
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin-bottom: 12px;
    margin-top: 0;
}

.video {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
    width: 100%;
    max-width: 1184px;
    margin: auto;
    display: flex;
}

.comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 102px;
    width: 100%;
    max-width: 1184px;
    margin: auto;
}

.comments__block {
    display: flex;
    max-width: 100%;
}

.comments__img {
    width: 97px;
    height: 97px;
    border-radius: 50%;
}

.comments__container {
    width: 33.3%;
    justify-content: start;
    margin-top: 72px;
}

.comments__text {
    margin-left: 20px;
    margin-right: 30px;
}

.comments__text-normal {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-top: 42px;
    max-width: 95%;
}

.comments__text-bold {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    margin-top: 24px;
}

.cover {
    justify-content: center;
    width: 100%;
    padding-top: 102px;
    padding-bottom: 130px;
    margin: auto;
}

.cover__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-self: auto;
    justify-self: auto;
    margin-top: 102px;
    box-sizing: border-box;
    margin: auto;
    max-width: 1184px;
    height: auto;
}

.cover__image {
    grid-column: 1/4;
    grid-row: 1/4;
    opacity: 0.8;
    object-fit: cover;
    width: 100%;
}

.cover__title {
    grid-column: 1/4;
    grid-row: 2/3;
    z-index: 1;
    max-width: 100%;
    padding-top: 75px;
    margin: auto;
    text-align: center;
}

.cover__subtitle {
    grid-column: 1/4;
    grid-row: 3/3;
    z-index: 1;
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin: auto;
    max-width: 413px;
    text-align: center;
}

.cover:hover .cover__image {
    opacity: 0.3;
}

/*.cover__item {}

.cover {}

.cover__container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: auto;
    height: 600px;
    background: #2A2C2F;
    opacity: 0.3;
    background-image: url(./images/cover.jpg);
    z-index: 1;
    background-repeat: no-repeat;
    width: 100%;
    flex-direction: column;
    margin: auto;
    max-width: 1184px;
}

.cover__title {
    margin-top: 274px;
    max-width: 1094px;
    z-index: 3;
}

.cover__subtitle {
    max-width: 382px;
    font-size: 1.125rem;
    line-height: 1.625rem;
}*/

.footer {
    display: flex;
    padding: 30px 8.9% 30px;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    font-size: 1.5rem;
    line-height: 2.5625rem;
    width: 55%;
    justify-content: space-between;
    display: flex;
}

.footer__copywright {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.footer__link {
    margin-right: 18px;
}

@media (max-width: 1280px) {
    .section__width_large {
        padding: 30px 3.9% 30px;
    }
}

@media (max-width: 1279px) {
    .layer-first {
        width: 928px;
    }
}

@media (max-width: 1279px) {
    .section__with_small {
        width: 928px;
    }
}

@media (max-width: 1279px) {
    .intro__block {
        width: 928px;
    }
}

@media (max-width: 1279px) {
    .video__item-play {
        padding-bottom: 20px;
    }
}

@media (max-width: 1279px) {
    .section__width_large {
        padding: 30px 3.7% 30px;
    }
}

@media (max-width: 1279px) {
    .cover__title {
        max-width: 525px;
    }
}

@media (max-width: 1279px) {
    .cover__container {
        height: 562px;
    }
}

@media (max-width: 1024px) {
    .grid__container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px 14px;
    }
}

@media (max-width: 1024px) {
    .cover__title {
        max-width: 55%;
    }
}

@media (max-width: 1024px) {
    .section__width_large {
        padding: 30px 4.7% 30px;
    }
}

@media (max-width: 1023px) {
    .section__width_medium {
        width: 720px;
    }
}

@media (max-width: 1023px) {
    .lead {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media (max-width: 1023px) {
    .intro__block {
        width: 683px;
    }
}

@media (max-width: 1023px) {
    .lead__subtitle {
        max-width: 85%;
    }
}

@media (max-width: 1023px) {
    .footer__links {
        font-size: 1rem;
        line-height: 1.6875rem;
    }
}

@media (max-width: 1023px) {
    .section__with_small {
        width: 720px;
    }
}

@media (max-width: 1023px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 1023px) {
    .places__text {
        font-size: 16px;
        line-height: 27px;
        margin-top: 51px;
    }
}

@media (max-width: 1023px) {
    .places__link-container {
        margin-left: 23%;
    }
}

@media (max-width: 1023px) {
    .section-title {
        font-size: 42px;
        line-height: 46px;
        max-width: 600px;
    }
}

@media (max-width: 1023px) {
    .cover__title {
        max-width: 300px;
    }
}

@media (max-width: 1023px) {
    .video__title {
        font-size: 24px;
        line-height: 26px
    }
}

@media (max-width: 1023px) {
    .video__item-play {
        margin: 0px;
        padding-bottom: 30px;
    }
}

@media (max-width: 1023px) {
    .video__item-play_kamchatka {
        padding-bottom: 5px;
    }
}

@media (max-width: 1023px) {
    .video__title_kamchatka {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .cover__container {
        height: 500px;
    }
}

@media (max-width: 1024px) {
    .cover__image {
        height: 100%;
    }
}

@media (max-width: 1023px) {
    .places__title:first-of-type {
        max-width: 30%;
    }
}

@media (max-width: 1023px) {
    .places__image {
        max-width: 340px;
        max-height: 340px;
    }
}

@media (max-width: 1023px) {
    .comments__container {
        display: flex;
        flex-direction: column;
        width: 55%;
        align-self: center;
        margin-top: 42px;
    }
}

@media (max-width: 1023px) {
    .comments__img {
        align-self: center;
        order: -1;
        padding-bottom: 20px;
    }
}

@media (max-width: 1023px) {
    .comments__block {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 1023px) {
    .comments__text-normal {
        font-size: 16px;
        line-height: 23px;
        margin-top: 24px;
        margin-bottom: 0;
    }
}

@media (max-width: 1023px) {
    .comments__text-bold {
        order: -1;
        margin: auto;
    }
}


@media (max-width: 1023px) {
    .places__image {
        font-size: 16px;
        line-height: 27px;
    }
}

@media (max-width: 1023px) {
    .lead__image {
        width: 768px;
    }
}
@media (max-width: 767px) {
    .lead__image {
        width: 375px;
        margin-left: -45px;
    }
}
@media (max-width: 374px) {
    .lead__image {
        width: 320px;
        margin-left: -16px;
    }
}
@media (max-width: 768px) {
    .grid__container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px 16px;
    }
}

@media (max-width: 768px) {
    .section__width_large {
        padding: 30px 3.15% 30px;
    }
}

@media (max-width: 767px) {
    .layer-first {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .lead__caption {
        margin-left: 4.7%;
    }
}

@media (max-width: 767px) {
    .section__width_large {
        padding: 30px 4.3% 30px;
    }
}

@media (max-width: 767px) {
    .section__width_medium {
        width: 343px;
    }
}

@media (max-width: 767px) {
    .places__container {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .section__with_small {
        width: 375px;
    }
}

@media (max-width: 767px) {
    .video__container {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .video__container-description {
        width: 93%;
        align-self: center;
    }
}

@media (max-width: 767px) {
    .places__description {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .places__block {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .places__link-container {
        display: none;
    }
}

@media (max-width: 767px) {
    .places__image {
        max-width: 375px;
        max-height: 375px;
        width: 100%;
        margin-right: 0;
        margin-top: 32px;
        padding-bottom: 0;
    }
}

@media (max-width: 767px) {
    .places__text {
        margin-left: 16px;
    }
}

@media (max-width: 767px) {
    .header__link {
        font-size: 18px;
        ;
    }
}

@media (max-width: 767px) {
    .places__title {
        margin-left: 16px;
    }
}

@media (max-width: 767px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}

@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        font-size: 24px;
        line-height: 41px;
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .cover {
        padding-top: 48px;
        padding-bottom: 0;
    }
}

@media (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 250px;
        grid-row: 1/3;
    }
}

@media (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 17px;
        max-width: 300px;
    }
}

@media (max-width: 767px) {
    .cover__container {
        height: 272px;
    }
}

@media (max-width: 767px) {
    .comments__container {
        width: 93%;
    }
}

@media (max-width: 767px) {
    .cover {
        width: 375px;
    }
}

@media (max-width: 767px) {
    .section-title {
        font-size: 32px;
        line-height: 35px;
        font-weight: 900;
    }
}

@media (max-width: 767px) {
    .video__title {
        font-size: 24px;
        line-height: 26px;
    }
}

@media (max-width: 767px) {
    .video__item-play {
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .lead__title {
        padding-bottom: 10px;
        font-size: 40px;
        line-height: 44px;
    }
}

@media (max-width: 767px) {
    .video__container {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .video__item {
        bottom: 20px;
    }
}

@media (max-width: 767px) {
    .video__subtitle {
        font-size: 14px;
        line-height: 15px;
    }
}

@media (max-width: 767px) {
    .comments {
        padding-top: 64px;
    }
}

@media (max-width: 767px) {
    .section-subtitle {
        font-size: 16px;
        line-height: 23px;
        margin-top: 16px;
    }
}

@media (max-width: 767px) {
    .footer__link {
        margin-top: 32px;
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .footer__copywright {
        margin-top: 48px;
    }
}

@media (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media (max-width: 767px) {}

@media (max-width: 450px) {
    .grid__container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 374px) {
    .section__width_large {
        padding: 30px 5% 30px;
    }
}

@media (max-width: 374px) {
    .section__with_small {
        width: 320px;
    }
}

@media (max-width: 374px) {
    .cover {
        width: 320px;
    }
}

@media (max-width: 767px) {
    .section__width_medium {
        width: 288px;
    }
}