.comments__img {
    width: 97px;
    height: 97px;
    border-radius: 50%;
}

@media (max-width: 1023px) {
    .comments__img {
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        margin-bottom: 20px;
    }
}