.video__description {
    position: relative;
    width: 49%;
    color: #FFFFFF;
}

@media (max-width: 767px) {
    .video__description {
        width: 93%;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}