@import url(../video/__title/video__title.css);
@import url(../video/__item/video__item.css);
@import url(../video/__item-play/video__item-play.css);
@import url(../video/__item-duration/video__item-duration.css);
@import url(../video/__image/video__image.css);
@import url(../video/__description/video__description.css);
@import url(../video/__container/video__container.css);
@import url(../video/__subtitle/video__subtitle.css);
.video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 28px;
    width: 100%;
    max-width: 1184px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}