@import url(../video/__title/video__title.css);
@import url(../video/__play/video__play.css);
@import url(../video/__duration/video__duration.css);
@import url(../video/__image/video__image.css);
@import url(../video/__container/video__container.css);
@import url(../video/__subtitle/video__subtitle.css);
@import url(../video/__description/video__description.css);
@import url(../video/__link/video__link.css);

.video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 28px;
    width: 100%;
    max-width: 1184px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 767px) {
    .video {
        padding-top: 0;
    }
}