.intro__content-row {
    margin-top: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
    max-width: 683px;
}

@media (max-width: 767px) {
    .intro__content-row {
        font-size: 32px;
        line-height: 35px;
        font-size: 16px;
        line-height: 27px;
    }
}