.lead__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    max-width: 782px;
    max-height: 184px;
    min-width: 288px;
    text-align: center;
    margin-block-start: 18px;
    margin-block-end: 0;
}

@media (max-width: 767px) {
    .lead__title {
        padding-bottom: 10px;
        font-size: 40px;
        line-height: 44px;
    }
}