.footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@media (max-width: 1023px) {
    .footer__copyright {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .footer__copyright {
        margin-top: 48px;
    }
}