@import url(../cover/__title/cover__title.css);
@import url(../cover/__subtitle/cover__subtitle.css);
@import url(../cover/__link/cover__link.css);
@import url(../cover/__background/cover__background.css);
.cover {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding-top: 102px;
    padding-bottom: 130px;
    margin: auto;
}

@media (max-width: 1023px) {
    .cover {
        padding-bottom: 72px;
    }
}

@media (max-width: 767px) {
    .cover {
        padding-top: 48px;
        padding-bottom: 0;
    }
}

@media (max-width: 374px) {
    .cover {
        padding-bottom: 16px;
    }
}