.video__play {
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    top: 11%;
    left: 5%;
    z-index: 333;
}

@media (max-width: 1279px) {
    .video__play {
        padding-bottom: 20px;
    }
}

@media (max-width: 1023px) {
    .video__play {
        margin: 0px;
        padding-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .video__play {
        padding-bottom: 10px;
    }
}